{{<layout}}

{{$pageTitle}}
	GOV.UK pay documentation
{{/pageTitle}}

{{$content}}

<style type="text/css">
</style>

<main id="content" role="main">

	<header class="homepage-top">
    <div class="header-inner">
  		<div class="column-two-thirds">
  		  <h1 class="heading-xlarge">Building government services</h1>
  		  <p class="lede">
  		  	Resources for developers working in government</p>
  		  	
  		</div>
  		<div class="column-third">
  				<div class="version">
  				      <p>Version 1.0</p>
  				</div>
  		</div>
    </div>
	</header>
	<div class="grid-row row-home">
      <div class="column-third">
        <h3 class="heading-medium heading-home">Repositories</h3>
      </div>
          <div class="column-two-thirds">
          <p>
          Most things we build are opensource and available to the world on GitHub. Below are respositories where you can find the code we use to build things at GDS.</p>
            <ul>
              <li><a href="https://github.com/alphagov">Alphagov – contains all Government Digital Service projects</a></li> 
              <li><a href="#">GOV.UK Verify</a></li>
              <li><a href="#">DVLA services</a></li>
            </ul>
          </div>
    </div>

      <div class="grid-row row-home">
        <div class="column-third">
            <h3 class="heading-medium heading-home">Frontend resources</h3>
        </div>
          <div class="column-two-thirds">
          <p>
          We have developed frontend resources to get you building quickly. We have a frontend toolkit where you can grab the header and footer, grid systems, sass mixins and more. We have also developed design patterns for other visual elements.</p>
            <ul>
              <li><a href="#">Frontend toolkit</a></li> 
              <li><a href="http://govuk-elements.herokuapp.com/">GOV.UK elements – contains design patterns with code snippets</a></li>
              <li><a href="#">Another thing</a></li>
            </ul>
          </div>
        </div>

        <div class="grid-row row-home">
        <div class="column-third">
            <h3 class="heading-medium heading-home">Platform API documentation</h3>
        </div>
          <div class="column-two-thirds">
          <p>
          Resources for developers working in government</p>
            <ul>
            <li><a href="#">GOV.UK Pay</a></li> 
            <li><a href="#">Registers</a></li>
            <li><a href="#">Another platform</a></li>
            </ul>
          </div>
        </div>
  
</main>

{{/content}}

{{/layout}}
