{{<layout}}

{{$pageTitle}}
	GOV.UK pay documentation
{{/pageTitle}}

{{$content}}

<style type="text/css">
</style>

<main id="content" role="main">

	<div class="grid-row row-space-blue">
		<div class="column-two-thirds">
		  <h1 class="heading-xlarge">Building government services</h1>
		  <p class="lede">
		  	Resources for developers working in government.</p>
		  	
		</div>
		    <div class="column-third">

				<div class="version">
				      <p>Version 1.0</p>
				</div>
			</div>
	</div>
	<div class="grid-row row-space">
    <div class="column-two-thirds">
      <h2 class="heading-large">Repositories</h2>
          <ul>
            <li><a href="https://github.com/alphagov">Government Digital Service</a></li> 
            <li>Nick Clegg MP</li>
            <li>Deputy head of government</li>
          </ul>

          <h2 class="heading-large">Frontend resources</h2>
          <ul>
            <li>Frontend toolkit</li> 
            <li><a href="http://govuk-elements.herokuapp.com/">GOV.UK elements: Contains design patterns with code snippets</a></li>
            <li>Deputy head of government</li>
          </ul>

          <h2 class="heading-large">Platform API documentation</h2>
          <ul>
            <li>GOV.UK Pay</li> 
            <li>Registers</li>
            <li>Deputy head of government</li>
          </ul>

          <h2 class="heading-large">Open repositories</h2>
          <ul>
            <li>The Deputy Prime Minister</li> 
            <li>Nick Clegg MP</li>
            <li>Deputy head of government</li>
          </ul>
    </div>
    
  </div>




</main>

{{/content}}

{{/layout}}
