{{<layout}}

{{$pageTitle}}
	GOV.UK pay documentation
{{/pageTitle}}

{{$content}}

<style type="text/css">
</style>

<main id="content" role="main">

	<div class="grid-row row-space">
		<div class="column-two-thirds">
		  <h1 class="heading-xlarge">GOV.UK Pay</h1>
		  <p class="lede">
		  	This needs to be a high level overview of the API, explaining what the product is and how the API is consumed, eg do you need to build something, buy something, etc.</p>
	
  <details>
    <summary><span class="summary">Read more</span></summary>

    <div class="panel-indent">
      <p>
        If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.
      </p>
      <p>
        We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.
      </p>
    </div>
  </details>

  <img class="search-box-image" src="/public/images/search-box.png">

      <!-- <form id="header-search" class="site-search" action="/search" method="get" role="search">
          <div class="header-search-content">
              <label for="search-main">Search the Service Manual</label>
              <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
          </div>
      </form> -->
		  	
		</div>
		    <div class="column-third">

				<div class="version">
				      <p>Version 1.0</p>
				</div>
			</div>
	</div>
	<div class="grid-row row-space">
    <div class="column-third">
      <h2 class="bold-medium"><a href="quick-start">Quick start guide and examples</a></h2>
      <p>
        The job of the quick start is to pull people in. It teaches them not only what the software is about, but how it should be used. 
      </p>
    </div>
    <div class="column-third">
      <h2 class="bold-medium"><a href="quick-start">Sandbox</a></h2>
      <p>
        This must help developers create an environment that allows them to quickly test the API. Ideally developers should not have to be authorised to do this.
      </p>
    </div>
    <div class="column-third">
      <h2 class="bold-medium"><a href="quick-start">Architecture</a></h2>
      <p>
        This section must provide clear, up-to-date diagrams on how the product works.
      </p>
    </div>
   </div>
   <div class="grid-row row-space">
    <div class="column-third">
      <h2 class="bold-medium"><a href="quick-start">Testing</a></h2>
      <p>
        Explain what you need to test and why. Then detail how to run these tests on the API integration. If I were a user, how would I test that my interactions with your API are operating properly?
      </p>
    </div>
    <div class="column-third">
      <h2 class="bold-medium"><a href="quick-start">Security and compliance</a></h2>
      <p>
        Mention of any security standards your product meets, eg PCI, as well as encryption standards and details of your PGP key. Discuss frameworks, include HTTPS, HSTS and SSL where appropriate or SAML.
      </p>
    </div>
    <div class="column-third">
      <h2 class="bold-medium"><a href="quick-start">Rate limiting and record limits</a></h2>
      <p>
        Rate limiting is likely to be used to ensure a high-quality service is delivered to all users. Documentation must detail how many application requests users can make within a 5 minute period. 
      </p>
    </div>
   </div>
   <div class="grid-row row-space">
    <div class="column-third">
      <h2 class="bold-medium"><a href="quick-start">Versioning</a></h2>
      <p>
        Tell users how versioning will work for your API, eg is the version number in the URL, header, or somewhere else?
      </p>
    </div>
    <div class="column-third">
      <h2 class="bold-medium"><a href="quick-start">Support and community</a></h2>
      <p>
        This resource must help users discuss support topics with their peers.
      </p>
    </div>
    <div class="column-third">
      <h2 class="bold-medium"><a href="quick-start">Customer references</a></h2>
      <p>
        This resource is to give users trust in the API and assure them that it’s reliable. 
      </p>
    </div>
  </div>
  <div class="grid-row row-space">
    <div class="column-third">
      <h2 class="bold-medium"><a href="quick-start">Contribution and iteration</a></h2>
      <p>
        This must include archiving policy for previous product and documentation versions.
      </p>
    </div>
    <div class="column-third">
      <h2 class="bold-medium"><a href="quick-start">Reference information</a></h2>
      <p>
        Detailed information on what each piece of the API does. Cover every single configuation option or function argument.
      </p>
    </div>
    <div class="column-third">
      <h2 class="bold-medium"><a href="quick-start">Authors and acknowledgments</a></h2>
      <p>
        Here you can see authors and acknowledgments. 
      </p>
    </div>
  </div>




</main>

{{/content}}

{{/layout}}
