{{<layout}}

{{$pageTitle}}
	GOV.UK pay documentation
{{/pageTitle}}

{{$content}}

<style type="text/css">
</style>

<main id="content" role="main">

	<div class="grid-row row-space">
		<div class="column-two-thirds">
		  <h1 class="heading-xlarge">GOV.UK Pay</h1>
		  	
		</div>
		  <div class="column-third">

				<div class="version">
				      <p>Version 1.0</p>
				</div>
			</div>
	</div>
	<div class="grid-row row-space">
    <div class="column-third">
        <ul class="side-list">  
          <li class="disabled">Quick start guide and examples</li>
          <li><a href="#">Sandbox</a></li>
          <li><a href="#">Architecture</a></li>
          <li><a href="#">Testing</a></li>
          <li><a href="#">Security and compliance</a></li>
          <li><a href="#">Rate limiting and record limits</a></li>
          <li><a href="#">Versioning</a></li>
          <li><a href="#">Support and community</a></li>
          <li><a href="#">Customer references</a></li>
          <li><a href="#">Contribution and iteration</a></li>
          <li><a href="#">Reference information</a></li>
          <li><a href="#">Authors and acknowledgments</a></li>
        </ul>
    </div>
    <div class="column-two-thirds">
        <p class="lede">
          This needs to be an overview of the quick start section, so the user knows what to expect.</p>

    
        <div class="sub-section">
          <details>
                <summary><span class="summary"><h3 class="heading-small">Getting started with the platform</h3></span>
                <p>Getting started with the platform</p></summary>
            <div class="panel-indent">
                <p>If you’re not sure about your nationality try to find out from an official document. Like a passport or national ID card, if you’re not sure about your nationality. Try to find out from an official document. Like a passport or national ID card.</p>
                <div class="code">

                </div>
            </div>
        </details>
        </div>

          <div class="sub-section">
                <h3 class="heading-small"><a href="#">Agile and government services</a></h3>
                <p>Why use agile methodology, features of agile, signs of not being agile.</p>
          </div>
          <div class="sub-section">
                <h3 class="heading-small"><a href="#">Agile and government services</a></h3>
                <p>Why use agile methodology, features of agile, signs of not being agile.</p>
          </div>
          <div class="sub-section">
                <h3 class="heading-small"><a href="#">Agile and government services</a></h3>
                <p>Why use agile methodology, features of agile, signs of not being agile.</p>
          </div>
      </div>
    </div>
</main>

{{/content}}

{{/layout}}
